In [2]:
import numpy as np
import pandas as pd
import math as m
import matplotlib.pyplot as plt
import glob

In [68]:
data = pd.read_csv('C:/Users/ale/Documents/Tec/PD sensor extracted data/PDdata/2021-03-18/PD_left.csv')
data.head()

                         t      x      y      z classification
0  2021-03-17 23:59:42.280  0.672 -0.064 -0.704           Wake
1  2021-03-17 23:59:42.320  0.640 -0.064 -0.704           Wake
2  2021-03-17 23:59:42.350  0.672 -0.064 -0.704           Wake
3  2021-03-17 23:59:42.390  0.640 -0.032 -0.736           Wake
4  2021-03-17 23:59:42.420  0.672 -0.064 -0.704           Wake

In [69]:
def arm_angle(df):
    arm_angles = []
    for i in range(len(df)):
        omega = df['z'][i]/(m.sqrt(df['x'][i]**2 + df['y'][i]**2))
        angle = (m.atan(omega))*(180/m.pi)
        arm_angles.append(angle)
    df['arm_angle'] = arm_angles
    return df

def change(df):
    change = []
    for i in range(len(df)):
        try:
            delta = df['arm_angle'][i] - df['arm_angle'][i-1]
            change.append(delta)
        except KeyError:
            change.append(np.nan)
    df['change'] = change
    return df

In [70]:
d = arm_angle(data)
finalData = change(d)
finalData['t'] = pd.to_datetime(finalData['t'])
finalData.head()

<ipython-input-69-dab875510308>:4: RuntimeWarning: divide by zero encountered in double_scalars
  omega = df['z'][i]/(m.sqrt(df['x'][i]**2 + df['y'][i]**2))
<ipython-input-69-dab875510308>:4: RuntimeWarning: invalid value encountered in double_scalars
  omega = df['z'][i]/(m.sqrt(df['x'][i]**2 + df['y'][i]**2))

,t,x,y,z,classification,arm_angle,change
0,2021-03-17 23:59:42.280,0.672,-0.064,-0.704,Wake,-46.203010,NaN
1,2021-03-17 23:59:42.320,0.640,-0.064,-0.704,Wake,-47.584395,-1.381385
2,2021-03-17 23:59:42.350,0.672,-0.064,-0.704,Wake,-46.203010,1.381385
3,2021-03-17 23:59:42.390,0.640,-0.032,-0.736,Wake,-48.955491,-2.752482
4,2021-03-17 23:59:42.420,0.672,-0.064,-0.704,Wake,-46.203010,2.752482

In [71]:
finalData.to_csv('C:/Users/ale/Documents/Tec/PD sensor extracted data/PDdata/2021-03-18/PD_left.csv', index = False)